body{
    margin: 0;
    padding: 0;
    background: url(img/bg.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box{
    width: 800px;
    height: 960px;
    background: rgba(143, 183, 243, 0.4);
    padding: 40px;
    margin: auto;
    color: rgb(48, 48, 53);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
}

.datetime{
    color: rgb(112, 112, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.datetime p{
    display: inline;
}
